__pycache__/DataReader.cpython-310.pyc
__pycache__/FA_Gamma.cpython-310.pyc
__pycache__/Test_plan.cpython-310.pyc
__pycache__/m_print.cpython-310.pyc
# Generated ORIGEN artifacts
Origens/*.f71
Origens/*.inp
Origens/*.msg
Origens/*.out

# Generated Core_FAs text outputs
Core_FAs/*.txt
