__pycache__/DataReader.cpython-310.pyc
__pycache__/FA_Gamma.cpython-310.pyc
__pycache__/Test_plan.cpython-310.pyc
__pycache__/m_print.cpython-310.pyc
Origens/1-3_0.f71
Origens/1-3_0.inp
Origens/1-3_0.msg
Origens/1-3_0.out
Origens/1-3_1.f71
Origens/1-3_1.inp
Origens/1-3_1.msg
Origens/1-3_1.out
Origens/1-3_2.f71
Origens/1-3_2.inp
Origens/1-3_2.msg
Origens/1-3_2.out
Origens/1-3_3.f71
Origens/1-3_3.inp
Origens/1-3_3.msg
Origens/1-3_3.out
Origens/1-3_4.f71
Origens/1-3_4.inp
Origens/1-3_4.msg
Origens/1-3_4.out
Origens/1-3_5.f71
Origens/1-3_5.inp
Origens/1-3_5.msg
Origens/1-3_5.out
Origens/1-3_6.f71
Origens/1-3_6.inp
Origens/1-3_6.msg
Origens/1-3_6.out
Origens/1-3_7.f71
Origens/1-3_7.inp
Origens/1-3_7.msg
Origens/1-3_7.out
Origens/1-3_8.f71
Origens/1-3_8.inp
Origens/1-3_8.msg
Origens/1-3_8.out
Origens/1-3_9.f71
Origens/1-3_9.inp
Origens/1-3_9.msg
Origens/1-3_9.out
Origens/6-10_0.f71
Origens/6-10_0.inp
Origens/6-10_0.msg
Origens/6-10_0.out
Origens/6-10_1.f71
Origens/6-10_1.inp
Origens/6-10_1.msg
Origens/6-10_1.out
Origens/6-10_2.f71
Origens/6-10_2.inp
Origens/6-10_2.msg
Origens/6-10_2.out
Origens/6-10_3.f71
Origens/6-10_3.inp
Origens/6-10_3.msg
Origens/6-10_3.out
Origens/6-10_4.f71
Origens/6-10_4.inp
Origens/6-10_4.msg
Origens/6-10_4.out
Origens/6-10_5.f71
Origens/6-10_5.inp
Origens/6-10_5.msg
Origens/6-10_5.out
Origens/6-10_6.f71
Origens/6-10_6.inp
Origens/6-10_6.msg
Origens/6-10_6.out
Origens/6-10_7.f71
Origens/6-10_7.inp
Origens/6-10_7.msg
Origens/6-10_7.out
Origens/6-10_8.f71
Origens/6-10_8.inp
Origens/6-10_8.msg
Origens/6-10_8.out
Origens/6-10_9.f71
Origens/6-10_9.inp
Origens/6-10_9.msg
Origens/6-10_9.out
Origens/16-6_0.msg
Origens/16-6_0.out
Origens/16-6_1.msg
Origens/16-6_1.out
Origens/16-6_2.msg
Origens/16-6_2.out
Origens/16-6_3.msg
Origens/16-6_3.out
Origens/16-6_4.msg
Origens/16-6_4.out
Origens/16-6_5.msg
Origens/16-6_5.out
Origens/16-6_6.msg
Origens/16-6_6.out
Origens/16-6_7.msg
Origens/16-6_7.out
Origens/16-6_8.msg
Origens/16-6_8.out
Origens/16-6_9.msg
Origens/16-6_9.out
__pycache__/Chart.cpython-310.pyc
__pycache__/CreateLogsDir.cpython-310.pyc
Logs/Chart.log
